mat-card {
    max-width: 50%;
    margin: 8em auto;
    text-align: center;
    background-color: darkgrey;
  }
  
  button{
    background-color: black;
    color: yellowgreen;
    width: auto;
  }

  mat-form-field{
    width: 70%;
  }